<!DOCTYPE html>
<html xml:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>MDCOMPANY - DETAIL</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<th:block th:replace="layout/header :: header"></th:block>

<div class="user-detail-container">
    <h1>회원 상세페이지</h1>
    <div class="detail-item">
        <label>사진</label>
        <!--
        controller 에서 model 이나 session 이름으로 전달된 값을 th가 받아서 화면에 보여줌

        th = thymeleaf는 db에서 가져와 dto 변수이름에 담겨진 값을 html로 가져와서
                                사용자들이 해당하는 결과값을 볼 수 있도록 설정해주는 것

        현재 IndexController 에서
        User user =  userProfileService.getUser(userId);
        model.addAttribute("user",user);
        return "detail";

         model.addAttribute 내 "user" 라는 이름으로 user에 담긴 정보를 "detail".html로 가져왔고,
         가져온 이름을 th로 받아서 사용자 화면에 보여줌
        -->
        <img th:src="${user.profileImagePath != null ?  user.profileImagePath   :  'images/default.png'         }">
        <br>
       <label>아이디</label>
        <!--  user   : model.addAttribute 에서 가져온 변수이름
              userId :           dto.User 에서 작성한 변수이름
        -->
        <p th:text="${user.userId}"></p>
        <br>
        <label>이름</label>
        <p th:text="${user.username}"></p>
        <br>

        <label>이메일</label>
        <p th:text="${user.email}"></p>
        <br>

        <label>생년월일</label>
        <p th:text="${user.birthdate}"></p>
        <br>

        <label>계좌잔액</label>
        <p th:text="${user.accountBalance}"></p>
        <br>

        <label>성별</label>
        <p th:text="${user.gender}"></p>
        <br>

        <label>취미</label>
        <p th:text="${user.hobbies}"></p>
        <br>

    </div>
</div>

<th:block th:replace="layout/footer :: footer"></th:block>
</body>
</html>