<!DOCTYPE html>
<html xml:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>MDCOMPANY - FIND NAME</title>
    <link rel="stylesheet" href="/css/styles.css">

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const form = document.getElementById("checkEmail");
            const email = document.getElementById("email").value;
            const emailRegex = "이메일 정규식";

            form.addEventListener("submit", (event) => {
                if (!emailRegex.test(email)) {
                    alert("유효한 이메일을 입력하세요.");
                    email.focus();
                    event.preventDefault();
                    return false;// 제출금지
                }
                return true; //유효한 경우 폼 제출 진행
            });
        });
    </script>
</head>
<body>
<th:block th:replace="~{layout/header :: header}"></th:block>

<div class="find-container">
    <h1>이메일을 통해 유저이름 찾기</h1>
    <!-- form method = "get"
     form 을 통해 DB에 특정 값을 저장할 때 : post  == insert
     form 을 통해 DB에 특정 값을 가져올 때 : get   == select

            action =  유저 이름 찾기 버튼을 눌렀을 때 이동할 페이지 endpoint 작성
            endpoint = api(Application Programming Interface)
     -->

    <form action="/find-username-result" method="get" id="checkEmail">
        <label for="email">이메일 : </label>
        <input type="email" id="email" name="email">
        <button type="submit">유저 이름 찾기</button>
    </form>
</div>

<th:block th:replace="~{layout/footer :: footer}"></th:block>
</body>
</html>